.details-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--gold);
  border-radius: 5px;
  padding: 25px;
}
.details__img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.frame {
  width: 150px;
  object-fit: contain;
}
.detail-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  object-fit: fill;
}
.detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  width: 100%;
  grid-template-rows: 1fr 1fr;
}
.detail-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.detail-row h3 {
  color: var(--orange);
  font-size: 20px;
  font-weight: bold;
}
.detail-row p {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 852px) {
  .details-div {
    gap: 40px;
    flex-direction: column;
  }
  .frame {
    width: 200px;
  }
  .detail-img {
    width: 155px;
    height: 155px;
  }
  .detail-row {
    width: 100%;
  }
}
@media screen and (max-width: 660px) {
  .details-div {
    gap: 25px;
  }
  .detail-grid {
    row-gap: 25px;
    grid-template-columns: 1fr;
  }
  .detail-row {
    justify-content: center;
  }
}
