.nft-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  place-items: center;
  position: relative;
  gap: 40px;
}

@media screen and (max-width: 1070px) {
  .nft-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 815px) {
  .nft-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 560px) {
  .nft-grid {
    grid-template-columns: 1fr;
  }
}
