.nft-div {
  margin-top: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.top-nft-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.top-nft-row > button:first-of-type {
  background-color: transparent;
  color: #858483;
  border: none;
  font-size: 22px;
  cursor: pointer;
  font-weight: 500;
}
.top-nft-row .outline-btn {
  margin-top: 0px;
}
.outline-btn {
  background-color: var(--orange);
  outline: 1px solid var(--orange);
  outline-offset: 4px;
  width: 116px;
  height: 41px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 60px;
  transition: all 0.5s ease-in-out;
  border: 1px solid transparent;
}
.outline-btn:hover {
  background-color: transparent;
  outline-offset: 0px;
}
